node_modules
npm-debug.log
.expo
.expo-shared
.git
.gitignore
README.md
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.tgz
.npm
.eslintcache
coverage
.nyc_output
*.log
logs
android/build
android/.gradle
android/app/build
ios/build
ios/Pods
*.tmp
.vscode
.idea
